sentence-transformers==3.4.1
trl==0.15.2
unsloth==2025.3.18
vllm==0.8.1
datasets==3.4.1
torch==2.6.0
transformers==4.49.0
accelerate==1.5.2
peft==0.14.0
huggingface_hub
tenacity
PyMuPDF
arxiv
openai
requests
tqdm
