arxiv==1.4.3
datasets==2.18.0
fitz==0.0.1
openai==1.30.0
PyMuPDF==1.24.1
requests==2.31.0
tenacity==8.3.0
torch==2.3.0
trl==0.7.13
unsloth==2024.6
vllm==0.4.1
huggingface_hub==0.25.1
transformers==4.40.2
accelerate==0.30.1
